openapi: 3.1.0
info:
  title: Fast Calls Feedback API
  version: 0.1.0
servers:
- url: https://trace.wandb.ai
tags:
- name: Feedback
paths:
  /feedback/create:
    post:
      tags:
      - Feedback
      summary: Feedback Create
      description: Add feedback to a call or object.
      operationId: feedback_create_feedback_create_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackCreateReq'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackCreateRes'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBasic: []
  /feedback/query:
    post:
      tags:
      - Feedback
      summary: Feedback Query
      description: Query for feedback.
      operationId: feedback_query_feedback_query_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackQueryReq'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackQueryRes'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBasic: []
  /feedback/purge:
    post:
      tags:
      - Feedback
      summary: Feedback Purge
      description: Permanently delete feedback.
      operationId: feedback_purge_feedback_purge_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackPurgeReq'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackPurgeRes'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBasic: []
  /feedback/replace:
    post:
      tags:
      - Feedback
      summary: Feedback Replace
      operationId: feedback_replace_feedback_replace_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackReplaceReq'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackReplaceRes'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBasic: []
components:
  schemas:
    AndOperation:
      properties:
        $and:
          items:
            anyOf:
            - $ref: '#/components/schemas/LiteralOperation'
            - $ref: '#/components/schemas/GetFieldOperator'
            - $ref: '#/components/schemas/ConvertOperation'
            - $ref: '#/components/schemas/AndOperation'
            - $ref: '#/components/schemas/OrOperation'
            - $ref: '#/components/schemas/NotOperation'
            - $ref: '#/components/schemas/EqOperation'
            - $ref: '#/components/schemas/GtOperation'
            - $ref: '#/components/schemas/GteOperation'
            - $ref: '#/components/schemas/InOperation'
            - $ref: '#/components/schemas/ContainsOperation'
          type: array
          title: $And
      type: object
      required:
      - $and
      title: AndOperation
    ContainsOperation:
      properties:
        $contains:
          $ref: '#/components/schemas/ContainsSpec'
      type: object
      required:
      - $contains
      title: ContainsOperation
    Query:
      properties:
        $expr:
          anyOf:
          - $ref: '#/components/schemas/AndOperation'
          - $ref: '#/components/schemas/OrOperation'
          - $ref: '#/components/schemas/NotOperation'
          - $ref: '#/components/schemas/EqOperation'
          - $ref: '#/components/schemas/GtOperation'
          - $ref: '#/components/schemas/GteOperation'
          - $ref: '#/components/schemas/InOperation'
          - $ref: '#/components/schemas/ContainsOperation'
          title: $Expr
      type: object
      required:
      - $expr
      title: Query
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    FeedbackQueryReq:
      properties:
        project_id:
          type: string
          title: Project Id
          examples:
          - entity/project
        fields:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Fields
          examples:
          - - id
            - feedback_type
            - payload.note
        query:
          anyOf:
          - $ref: '#/components/schemas/Query'
          - type: 'null'
        sort_by:
          anyOf:
          - items:
              $ref: '#/components/schemas/SortBy'
            type: array
          - type: 'null'
          title: Sort By
        limit:
          anyOf:
          - type: integer
          - type: 'null'
          title: Limit
          examples:
          - 10
        offset:
          anyOf:
          - type: integer
          - type: 'null'
          title: Offset
          examples:
          - 0
      type: object
      required:
      - project_id
      title: FeedbackQueryReq
    GtOperation:
      properties:
        $gt:
          prefixItems:
          - anyOf:
            - $ref: '#/components/schemas/LiteralOperation'
            - $ref: '#/components/schemas/GetFieldOperator'
            - $ref: '#/components/schemas/ConvertOperation'
            - $ref: '#/components/schemas/AndOperation'
            - $ref: '#/components/schemas/OrOperation'
            - $ref: '#/components/schemas/NotOperation'
            - $ref: '#/components/schemas/EqOperation'
            - $ref: '#/components/schemas/GtOperation'
            - $ref: '#/components/schemas/GteOperation'
            - $ref: '#/components/schemas/InOperation'
            - $ref: '#/components/schemas/ContainsOperation'
          - anyOf:
            - $ref: '#/components/schemas/LiteralOperation'
            - $ref: '#/components/schemas/GetFieldOperator'
            - $ref: '#/components/schemas/ConvertOperation'
            - $ref: '#/components/schemas/AndOperation'
            - $ref: '#/components/schemas/OrOperation'
            - $ref: '#/components/schemas/NotOperation'
            - $ref: '#/components/schemas/EqOperation'
            - $ref: '#/components/schemas/GtOperation'
            - $ref: '#/components/schemas/GteOperation'
            - $ref: '#/components/schemas/InOperation'
            - $ref: '#/components/schemas/ContainsOperation'
          type: array
          maxItems: 2
          minItems: 2
          title: $Gt
      type: object
      required:
      - $gt
      title: GtOperation
    FeedbackReplaceReq:
      properties:
        project_id:
          type: string
          title: Project Id
          examples:
          - entity/project
        weave_ref:
          type: string
          title: Weave Ref
          examples:
          - weave:///entity/project/object/name:digest
        creator:
          anyOf:
          - type: string
          - type: 'null'
          title: Creator
          examples:
          - Jane Smith
        feedback_type:
          type: string
          title: Feedback Type
          examples:
          - custom
        payload:
          type: object
          title: Payload
          examples:
          - key: value
        annotation_ref:
          anyOf:
          - type: string
          - type: 'null'
          title: Annotation Ref
          examples:
          - weave:///entity/project/object/name:digest
        runnable_ref:
          anyOf:
          - type: string
          - type: 'null'
          title: Runnable Ref
          examples:
          - weave:///entity/project/op/name:digest
        call_ref:
          anyOf:
          - type: string
          - type: 'null'
          title: Call Ref
          examples:
          - weave:///entity/project/call/call_id
        trigger_ref:
          anyOf:
          - type: string
          - type: 'null'
          title: Trigger Ref
          examples:
          - weave:///entity/project/object/name:digest
        wb_user_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Wb User Id
          description: Do not set directly. Server will automatically populate this field.
        feedback_id:
          type: string
          title: Feedback Id
      type: object
      required:
      - project_id
      - weave_ref
      - feedback_type
      - payload
      - feedback_id
      title: FeedbackReplaceReq
    FeedbackCreateRes:
      properties:
        id:
          type: string
          title: Id
        created_at:
          type: string
          format: date-time
          title: Created At
        wb_user_id:
          type: string
          title: Wb User Id
        payload:
          type: object
          title: Payload
      type: object
      required:
      - id
      - created_at
      - wb_user_id
      - payload
      title: FeedbackCreateRes
    FeedbackPurgeRes:
      properties: {}
      type: object
      title: FeedbackPurgeRes
    SortBy:
      properties:
        field:
          type: string
          title: Field
        direction:
          type: string
          enum:
          - asc
          - desc
          title: Direction
      type: object
      required:
      - field
      - direction
      title: SortBy
    GetFieldOperator:
      properties:
        $getField:
          type: string
          title: $Getfield
      type: object
      required:
      - $getField
      title: GetFieldOperator
    NotOperation:
      properties:
        $not:
          prefixItems:
          - anyOf:
            - $ref: '#/components/schemas/LiteralOperation'
            - $ref: '#/components/schemas/GetFieldOperator'
            - $ref: '#/components/schemas/ConvertOperation'
            - $ref: '#/components/schemas/AndOperation'
            - $ref: '#/components/schemas/OrOperation'
            - $ref: '#/components/schemas/NotOperation'
            - $ref: '#/components/schemas/EqOperation'
            - $ref: '#/components/schemas/GtOperation'
            - $ref: '#/components/schemas/GteOperation'
            - $ref: '#/components/schemas/InOperation'
            - $ref: '#/components/schemas/ContainsOperation'
          type: array
          maxItems: 1
          minItems: 1
          title: $Not
      type: object
      required:
      - $not
      title: NotOperation
    LiteralOperation:
      properties:
        $literal:
          anyOf:
          - type: string
          - type: integer
          - type: number
          - type: boolean
          - additionalProperties:
              $ref: '#/components/schemas/LiteralOperation'
            type: object
          - items:
              $ref: '#/components/schemas/LiteralOperation'
            type: array
          - type: 'null'
          title: $Literal
      type: object
      required:
      - $literal
      title: LiteralOperation
    FeedbackReplaceRes:
      properties:
        id:
          type: string
          title: Id
        created_at:
          type: string
          format: date-time
          title: Created At
        wb_user_id:
          type: string
          title: Wb User Id
        payload:
          type: object
          title: Payload
      type: object
      required:
      - id
      - created_at
      - wb_user_id
      - payload
      title: FeedbackReplaceRes
    OrOperation:
      properties:
        $or:
          items:
            anyOf:
            - $ref: '#/components/schemas/LiteralOperation'
            - $ref: '#/components/schemas/GetFieldOperator'
            - $ref: '#/components/schemas/ConvertOperation'
            - $ref: '#/components/schemas/AndOperation'
            - $ref: '#/components/schemas/OrOperation'
            - $ref: '#/components/schemas/NotOperation'
            - $ref: '#/components/schemas/EqOperation'
            - $ref: '#/components/schemas/GtOperation'
            - $ref: '#/components/schemas/GteOperation'
            - $ref: '#/components/schemas/InOperation'
            - $ref: '#/components/schemas/ContainsOperation'
          type: array
          title: $Or
      type: object
      required:
      - $or
      title: OrOperation
    FeedbackPurgeReq:
      properties:
        project_id:
          type: string
          title: Project Id
          examples:
          - entity/project
        query:
          $ref: '#/components/schemas/Query'
      type: object
      required:
      - project_id
      - query
      title: FeedbackPurgeReq
    InOperation:
      properties:
        $in:
          prefixItems:
          - anyOf:
            - $ref: '#/components/schemas/LiteralOperation'
            - $ref: '#/components/schemas/GetFieldOperator'
            - $ref: '#/components/schemas/ConvertOperation'
            - $ref: '#/components/schemas/AndOperation'
            - $ref: '#/components/schemas/OrOperation'
            - $ref: '#/components/schemas/NotOperation'
            - $ref: '#/components/schemas/EqOperation'
            - $ref: '#/components/schemas/GtOperation'
            - $ref: '#/components/schemas/GteOperation'
            - $ref: '#/components/schemas/InOperation'
            - $ref: '#/components/schemas/ContainsOperation'
          - items:
              anyOf:
              - $ref: '#/components/schemas/LiteralOperation'
              - $ref: '#/components/schemas/GetFieldOperator'
              - $ref: '#/components/schemas/ConvertOperation'
              - $ref: '#/components/schemas/AndOperation'
              - $ref: '#/components/schemas/OrOperation'
              - $ref: '#/components/schemas/NotOperation'
              - $ref: '#/components/schemas/EqOperation'
              - $ref: '#/components/schemas/GtOperation'
              - $ref: '#/components/schemas/GteOperation'
              - $ref: '#/components/schemas/InOperation'
              - $ref: '#/components/schemas/ContainsOperation'
            type: array
          type: array
          maxItems: 2
          minItems: 2
          title: $In
      type: object
      required:
      - $in
      title: InOperation
    ContainsSpec:
      properties:
        input:
          anyOf:
          - $ref: '#/components/schemas/LiteralOperation'
          - $ref: '#/components/schemas/GetFieldOperator'
          - $ref: '#/components/schemas/ConvertOperation'
          - $ref: '#/components/schemas/AndOperation'
          - $ref: '#/components/schemas/OrOperation'
          - $ref: '#/components/schemas/NotOperation'
          - $ref: '#/components/schemas/EqOperation'
          - $ref: '#/components/schemas/GtOperation'
          - $ref: '#/components/schemas/GteOperation'
          - $ref: '#/components/schemas/InOperation'
          - $ref: '#/components/schemas/ContainsOperation'
          title: Input
        substr:
          anyOf:
          - $ref: '#/components/schemas/LiteralOperation'
          - $ref: '#/components/schemas/GetFieldOperator'
          - $ref: '#/components/schemas/ConvertOperation'
          - $ref: '#/components/schemas/AndOperation'
          - $ref: '#/components/schemas/OrOperation'
          - $ref: '#/components/schemas/NotOperation'
          - $ref: '#/components/schemas/EqOperation'
          - $ref: '#/components/schemas/GtOperation'
          - $ref: '#/components/schemas/GteOperation'
          - $ref: '#/components/schemas/InOperation'
          - $ref: '#/components/schemas/ContainsOperation'
          title: Substr
        case_insensitive:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Case Insensitive
          default: false
      type: object
      required:
      - input
      - substr
      title: ContainsSpec
    ConvertSpec:
      properties:
        input:
          anyOf:
          - $ref: '#/components/schemas/LiteralOperation'
          - $ref: '#/components/schemas/GetFieldOperator'
          - $ref: '#/components/schemas/ConvertOperation'
          - $ref: '#/components/schemas/AndOperation'
          - $ref: '#/components/schemas/OrOperation'
          - $ref: '#/components/schemas/NotOperation'
          - $ref: '#/components/schemas/EqOperation'
          - $ref: '#/components/schemas/GtOperation'
          - $ref: '#/components/schemas/GteOperation'
          - $ref: '#/components/schemas/InOperation'
          - $ref: '#/components/schemas/ContainsOperation'
          title: Input
        to:
          type: string
          enum:
          - double
          - string
          - int
          - bool
          - exists
          title: To
      type: object
      required:
      - input
      - to
      title: ConvertSpec
    EqOperation:
      properties:
        $eq:
          prefixItems:
          - anyOf:
            - $ref: '#/components/schemas/LiteralOperation'
            - $ref: '#/components/schemas/GetFieldOperator'
            - $ref: '#/components/schemas/ConvertOperation'
            - $ref: '#/components/schemas/AndOperation'
            - $ref: '#/components/schemas/OrOperation'
            - $ref: '#/components/schemas/NotOperation'
            - $ref: '#/components/schemas/EqOperation'
            - $ref: '#/components/schemas/GtOperation'
            - $ref: '#/components/schemas/GteOperation'
            - $ref: '#/components/schemas/InOperation'
            - $ref: '#/components/schemas/ContainsOperation'
          - anyOf:
            - $ref: '#/components/schemas/LiteralOperation'
            - $ref: '#/components/schemas/GetFieldOperator'
            - $ref: '#/components/schemas/ConvertOperation'
            - $ref: '#/components/schemas/AndOperation'
            - $ref: '#/components/schemas/OrOperation'
            - $ref: '#/components/schemas/NotOperation'
            - $ref: '#/components/schemas/EqOperation'
            - $ref: '#/components/schemas/GtOperation'
            - $ref: '#/components/schemas/GteOperation'
            - $ref: '#/components/schemas/InOperation'
            - $ref: '#/components/schemas/ContainsOperation'
          type: array
          maxItems: 2
          minItems: 2
          title: $Eq
      type: object
      required:
      - $eq
      title: EqOperation
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    FeedbackQueryRes:
      properties:
        result:
          items:
            type: object
          type: array
          title: Result
      type: object
      required:
      - result
      title: FeedbackQueryRes
    GteOperation:
      properties:
        $gte:
          prefixItems:
          - anyOf:
            - $ref: '#/components/schemas/LiteralOperation'
            - $ref: '#/components/schemas/GetFieldOperator'
            - $ref: '#/components/schemas/ConvertOperation'
            - $ref: '#/components/schemas/AndOperation'
            - $ref: '#/components/schemas/OrOperation'
            - $ref: '#/components/schemas/NotOperation'
            - $ref: '#/components/schemas/EqOperation'
            - $ref: '#/components/schemas/GtOperation'
            - $ref: '#/components/schemas/GteOperation'
            - $ref: '#/components/schemas/InOperation'
            - $ref: '#/components/schemas/ContainsOperation'
          - anyOf:
            - $ref: '#/components/schemas/LiteralOperation'
            - $ref: '#/components/schemas/GetFieldOperator'
            - $ref: '#/components/schemas/ConvertOperation'
            - $ref: '#/components/schemas/AndOperation'
            - $ref: '#/components/schemas/OrOperation'
            - $ref: '#/components/schemas/NotOperation'
            - $ref: '#/components/schemas/EqOperation'
            - $ref: '#/components/schemas/GtOperation'
            - $ref: '#/components/schemas/GteOperation'
            - $ref: '#/components/schemas/InOperation'
            - $ref: '#/components/schemas/ContainsOperation'
          type: array
          maxItems: 2
          minItems: 2
          title: $Gte
      type: object
      required:
      - $gte
      title: GteOperation
    FeedbackCreateReq:
      properties:
        project_id:
          type: string
          title: Project Id
          examples:
          - entity/project
        weave_ref:
          type: string
          title: Weave Ref
          examples:
          - weave:///entity/project/object/name:digest
        creator:
          anyOf:
          - type: string
          - type: 'null'
          title: Creator
          examples:
          - Jane Smith
        feedback_type:
          type: string
          title: Feedback Type
          examples:
          - custom
        payload:
          type: object
          title: Payload
          examples:
          - key: value
        annotation_ref:
          anyOf:
          - type: string
          - type: 'null'
          title: Annotation Ref
          examples:
          - weave:///entity/project/object/name:digest
        runnable_ref:
          anyOf:
          - type: string
          - type: 'null'
          title: Runnable Ref
          examples:
          - weave:///entity/project/op/name:digest
        call_ref:
          anyOf:
          - type: string
          - type: 'null'
          title: Call Ref
          examples:
          - weave:///entity/project/call/call_id
        trigger_ref:
          anyOf:
          - type: string
          - type: 'null'
          title: Trigger Ref
          examples:
          - weave:///entity/project/object/name:digest
        wb_user_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Wb User Id
          description: Do not set directly. Server will automatically populate this field.
      type: object
      required:
      - project_id
      - weave_ref
      - feedback_type
      - payload
      title: FeedbackCreateReq
    ConvertOperation:
      properties:
        $convert:
          $ref: '#/components/schemas/ConvertSpec'
      type: object
      required:
      - $convert
      title: ConvertOperation
  securitySchemes:
    HTTPBasic:
      type: http
      scheme: basic
