openapi: 3.1.0
info:
  title: Fast Calls Tables API
  version: 0.1.0
servers:
- url: https://trace.wandb.ai
tags:
- name: Tables
paths:
  /table/create:
    post:
      tags:
      - Tables
      summary: Table Create
      operationId: table_create_table_create_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TableCreateReq'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TableCreateRes'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBasic: []
  /table/update:
    post:
      tags:
      - Tables
      summary: Table Update
      operationId: table_update_table_update_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TableUpdateReq'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TableUpdateRes'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBasic: []
  /table/query:
    post:
      tags:
      - Tables
      summary: Table Query
      operationId: table_query_table_query_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TableQueryReq'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TableQueryRes'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBasic: []
  /table/query_stats:
    post:
      tags:
      - Tables
      summary: Table Query Stats
      operationId: table_query_stats_table_query_stats_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TableQueryStatsReq'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TableQueryStatsRes'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBasic: []
components:
  schemas:
    TableQueryReq:
      properties:
        project_id:
          type: string
          title: Project Id
          description: The ID of the project
          examples:
          - my_entity/my_project
        digest:
          type: string
          title: Digest
          description: The digest of the table to query
          examples:
          - aonareimsvtl13apimtalpa4435rpmgnaemrpgmarltarstaorsnte134avrims
        filter:
          anyOf:
          - $ref: '#/components/schemas/TableRowFilter'
          - type: 'null'
          description: Optional filter to apply to the query. See `TableRowFilter` for more details.
          examples:
          - row_digests:
            - aonareimsvtl13apimtalpa4435rpmgnaemrpgmarltarstaorsnte134avrims
            - aonareimsvtl13apimtalpa4435rpmgnaemrpgmarltarstaorsnte134avrims
        limit:
          anyOf:
          - type: integer
          - type: 'null'
          title: Limit
          description: Maximum number of rows to return
          examples:
          - 100
        offset:
          anyOf:
          - type: integer
          - type: 'null'
          title: Offset
          description: Number of rows to skip before starting to return rows
          examples:
          - 10
        sort_by:
          anyOf:
          - items:
              $ref: '#/components/schemas/SortBy'
            type: array
          - type: 'null'
          title: Sort By
          description: List of fields to sort by. Fields can be dot-separated to access dictionary values. No sorting uses the default table order (insertion order).
          examples:
          - - field: col_a.prop_b
              order: desc
      type: object
      required:
      - project_id
      - digest
      title: TableQueryReq
    TableUpdateReq:
      properties:
        project_id:
          type: string
          title: Project Id
        base_digest:
          type: string
          title: Base Digest
        updates:
          items:
            anyOf:
            - $ref: '#/components/schemas/TableAppendSpec'
            - $ref: '#/components/schemas/TablePopSpec'
            - $ref: '#/components/schemas/TableInsertSpec'
          type: array
          title: Updates
      type: object
      required:
      - project_id
      - base_digest
      - updates
      title: TableUpdateReq
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    TableCreateRes:
      properties:
        digest:
          type: string
          title: Digest
        row_digests:
          items:
            type: string
          type: array
          title: Row Digests
          description: The digests of the rows that were created
      type: object
      required:
      - digest
      title: TableCreateRes
    TableAppendSpecPayload:
      properties:
        row:
          type: object
          title: Row
      type: object
      required:
      - row
      title: TableAppendSpecPayload
    TableInsertSpec:
      properties:
        insert:
          $ref: '#/components/schemas/TableInsertSpecPayload'
      type: object
      required:
      - insert
      title: TableInsertSpec
    TableQueryStatsRes:
      properties:
        count:
          type: integer
          title: Count
      type: object
      required:
      - count
      title: TableQueryStatsRes
    TableCreateReq:
      properties:
        table:
          $ref: '#/components/schemas/TableSchemaForInsert'
      type: object
      required:
      - table
      title: TableCreateReq
    TableQueryRes:
      properties:
        rows:
          items:
            $ref: '#/components/schemas/TableRowSchema'
          type: array
          title: Rows
      type: object
      required:
      - rows
      title: TableQueryRes
    TableUpdateRes:
      properties:
        digest:
          type: string
          title: Digest
        updated_row_digests:
          items:
            type: string
          type: array
          title: Updated Row Digests
          description: The digests of the rows that were updated
      type: object
      required:
      - digest
      title: TableUpdateRes
    SortBy:
      properties:
        field:
          type: string
          title: Field
        direction:
          type: string
          enum:
          - asc
          - desc
          title: Direction
      type: object
      required:
      - field
      - direction
      title: SortBy
    TableQueryStatsReq:
      properties:
        project_id:
          type: string
          title: Project Id
          description: The ID of the project
          examples:
          - my_entity/my_project
        digest:
          type: string
          title: Digest
          description: The digest of the table to query
          examples:
          - aonareimsvtl13apimtalpa4435rpmgnaemrpgmarltarstaorsnte134avrims
      type: object
      required:
      - project_id
      - digest
      title: TableQueryStatsReq
    TableRowFilter:
      properties:
        row_digests:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Row Digests
          description: List of row digests to filter by
          examples:
          - - aonareimsvtl13apimtalpa4435rpmgnaemrpgmarltarstaorsnte134avrims
            - aonareimsvtl13apimtalpa4435rpmgnaemrpgmarltarstaorsnte134avrims
      type: object
      title: TableRowFilter
    TableSchemaForInsert:
      properties:
        project_id:
          type: string
          title: Project Id
        rows:
          items:
            type: object
          type: array
          title: Rows
      type: object
      required:
      - project_id
      - rows
      title: TableSchemaForInsert
    TableInsertSpecPayload:
      properties:
        index:
          type: integer
          title: Index
        row:
          type: object
          title: Row
      type: object
      required:
      - index
      - row
      title: TableInsertSpecPayload
    TableRowSchema:
      properties:
        digest:
          type: string
          title: Digest
        val:
          title: Val
        original_index:
          anyOf:
          - type: integer
          - type: 'null'
          title: Original Index
      type: object
      required:
      - digest
      - val
      title: TableRowSchema
    TablePopSpec:
      properties:
        pop:
          $ref: '#/components/schemas/TablePopSpecPayload'
      type: object
      required:
      - pop
      title: TablePopSpec
    TableAppendSpec:
      properties:
        append:
          $ref: '#/components/schemas/TableAppendSpecPayload'
      type: object
      required:
      - append
      title: TableAppendSpec
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    TablePopSpecPayload:
      properties:
        index:
          type: integer
          title: Index
      type: object
      required:
      - index
      title: TablePopSpecPayload
  securitySchemes:
    HTTPBasic:
      type: http
      scheme: basic
