openapi: 3.1.0
info:
  title: Fast Calls Objects API
  version: 0.1.0
servers:
- url: https://trace.wandb.ai
tags:
- name: Objects
paths:
  /obj/create:
    post:
      tags:
      - Objects
      summary: Obj Create
      operationId: obj_create_obj_create_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjCreateReq'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjCreateRes'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBasic: []
  /obj/read:
    post:
      tags:
      - Objects
      summary: Obj Read
      operationId: obj_read_obj_read_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjReadReq'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjReadRes'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBasic: []
  /objs/query:
    post:
      tags:
      - Objects
      summary: Objs Query
      operationId: objs_query_objs_query_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjQueryReq'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjQueryRes'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBasic: []
  /obj/delete:
    post:
      tags:
      - Objects
      summary: Obj Delete
      operationId: obj_delete_obj_delete_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjDeleteReq'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjDeleteRes'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBasic: []
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    ObjSchemaForInsert:
      properties:
        project_id:
          type: string
          title: Project Id
        object_id:
          type: string
          title: Object Id
        val:
          title: Val
        builtin_object_class:
          anyOf:
          - type: string
          - type: 'null'
          title: Builtin Object Class
        set_base_object_class:
          anyOf:
          - type: string
          - type: 'null'
          title: Set Base Object Class
          deprecated: true
        wb_user_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Wb User Id
          description: Do not set directly. Server will automatically populate this field.
      type: object
      required:
      - project_id
      - object_id
      - val
      title: ObjSchemaForInsert
    SortBy:
      properties:
        field:
          type: string
          title: Field
        direction:
          type: string
          enum:
          - asc
          - desc
          title: Direction
      type: object
      required:
      - field
      - direction
      title: SortBy
    ObjCreateRes:
      properties:
        digest:
          type: string
          title: Digest
      type: object
      required:
      - digest
      title: ObjCreateRes
    ObjReadRes:
      properties:
        obj:
          $ref: '#/components/schemas/ObjSchema'
      type: object
      required:
      - obj
      title: ObjReadRes
    ObjReadReq:
      properties:
        project_id:
          type: string
          title: Project Id
        object_id:
          type: string
          title: Object Id
        digest:
          type: string
          title: Digest
        metadata_only:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Metadata Only
          description: If true, the `val` column is not read from the database and is empty.All other fields are returned.
          default: false
      type: object
      required:
      - project_id
      - object_id
      - digest
      title: ObjReadReq
    ObjDeleteRes:
      properties:
        num_deleted:
          type: integer
          title: Num Deleted
      type: object
      required:
      - num_deleted
      title: ObjDeleteRes
    ObjectVersionFilter:
      properties:
        base_object_classes:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Base Object Classes
          description: Filter objects by their base classes
          examples:
          - - Model
          - - Dataset
        object_ids:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Object Ids
          description: Filter objects by their IDs
          examples:
          - my_favorite_model
          - my_favorite_dataset
        is_op:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Op
          description: Filter objects based on whether they are weave.ops or not. `True` will only return ops, `False` will return non-ops, and `None` will return all objects
          examples:
          - true
          - false
          - null
        latest_only:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Latest Only
          description: If True, return only the latest version of each object. `False` and `None` will return all versions
          examples:
          - true
          - false
      type: object
      title: ObjectVersionFilter
    ObjDeleteReq:
      properties:
        project_id:
          type: string
          title: Project Id
        object_id:
          type: string
          title: Object Id
        digests:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Digests
          description: List of digests to delete. If not provided, all digests for the object will be deleted.
      type: object
      required:
      - project_id
      - object_id
      title: ObjDeleteReq
    ObjCreateReq:
      properties:
        obj:
          $ref: '#/components/schemas/ObjSchemaForInsert'
      type: object
      required:
      - obj
      title: ObjCreateReq
    ObjQueryReq:
      properties:
        project_id:
          type: string
          title: Project Id
          description: The ID of the project to query
          examples:
          - user/project
        filter:
          anyOf:
          - $ref: '#/components/schemas/ObjectVersionFilter'
          - type: 'null'
          description: Filter criteria for the query. See `ObjectVersionFilter`
          examples:
          - latest_only: true
            object_ids:
            - my_favorite_model
        limit:
          anyOf:
          - type: integer
          - type: 'null'
          title: Limit
          description: Maximum number of results to return
          examples:
          - 100
        offset:
          anyOf:
          - type: integer
          - type: 'null'
          title: Offset
          description: Number of results to skip before returning
          examples:
          - 0
        sort_by:
          anyOf:
          - items:
              $ref: '#/components/schemas/SortBy'
            type: array
          - type: 'null'
          title: Sort By
          description: Sorting criteria for the query results. Currently only supports 'object_id' and 'created_at'.
          examples:
          - - direction: desc
              field: created_at
        metadata_only:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Metadata Only
          description: If true, the `val` column is not read from the database and is empty.All other fields are returned.
          default: false
      type: object
      required:
      - project_id
      title: ObjQueryReq
    ObjSchema:
      properties:
        project_id:
          type: string
          title: Project Id
        object_id:
          type: string
          title: Object Id
        created_at:
          type: string
          format: date-time
          title: Created At
        deleted_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Deleted At
        digest:
          type: string
          title: Digest
        version_index:
          type: integer
          title: Version Index
        is_latest:
          type: integer
          title: Is Latest
        kind:
          type: string
          title: Kind
        base_object_class:
          anyOf:
          - type: string
          - type: 'null'
          title: Base Object Class
        val:
          title: Val
        wb_user_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Wb User Id
          description: Do not set directly. Server will automatically populate this field.
      type: object
      required:
      - project_id
      - object_id
      - created_at
      - digest
      - version_index
      - is_latest
      - kind
      - base_object_class
      - val
      title: ObjSchema
    ObjQueryRes:
      properties:
        objs:
          items:
            $ref: '#/components/schemas/ObjSchema'
          type: array
          title: Objs
      type: object
      required:
      - objs
      title: ObjQueryRes
  securitySchemes:
    HTTPBasic:
      type: http
      scheme: basic
